<head lang="zh_CN">
    <meta charset="UTF-8">
    <title>demo</title>
    <link href="/rs/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/rs/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="/rs/css/layoutit.css" rel="stylesheet" type="text/css"/>
    <script src="/rs/js/jquery.min.js"></script>
    <script src="/rs/js/uuidv4.js"></script>
</head>